.container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* CENTER FORM */
.formCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  flex-direction: column;
  width: 300px;
}

/* INPUTS */
.input {
  border: none;
  border-bottom: 2px solid #7aa37a;
  background: transparent;
  padding: 12px 5px;
  margin-bottom: 20px;
  font-size: 14px;
  outline: none;
  color: #2e5e3e;
}

.input::placeholder {
  color: #7aa37a;
}

/* BUTTON */
.button {
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #3d7c59;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background: #2e5e3e;
}

/* LINKS */
.link {
  margin-top: 10px;
  font-size: 13px;
  color: #3d7c59;
  cursor: pointer;
}

.register {
  margin-top: 10px;
  font-size: 13px;
  color: #3d7c59;
  cursor: pointer;
}

.message {
  margin-top: 10px;
  font-size: 13px;
}