@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.rightBox {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);

    width: 35%;
    padding: 40px;
    max-height: 90%;

    background: rgba(102, 102, 102, 0.33);
    backdrop-filter: blur(10px);
    border-radius: 20px;

    color: white;

    display: flex;
    flex-direction: column;
}
.rightBox h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 6px;
}

.rightBox p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    color: #f3f5f9;
}


.formContainer {
    width: 100%;
    overflow-y: scroll;
}

.switchText {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
}


.link {
    color: #79b0f9;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.link:hover {
    color: white;
}

@media (max-width: 900px) {
    .rightBox {
        width: 85%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}