.container {
  background: #f5f7fb;
  min-height: 100vh;
  padding: 20px;
}

.title {
  max-width: 1000px;
  margin: 30px auto 15px auto;
  color: var(--text-dark);
}

.grid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}