* {
  box-sizing: border-box;
}

:root {
  --topbar-height: 64px;
  --sidebar-width: 240px;

  --primary: #1c63bf;
  --primary-light: #64a0ee;
  --primary-dark: #1856a6;
  --primary-darker: #10376a;
  --primary-hover: #15498e;
  --primary-active: rgb(63, 120, 194);

  --text-light: #ffffff;
  --text-muted: #cacaca;

  --shadow: 0 6px 12px #00000058;

  --toast-bg: #265a9e4d;
  --toast-shadow: -3px 8px 24px #265a9e83;

  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}