* {
  box-sizing: border-box;
}

:root {
  --topbar-height: 64px;
  --sidebar-width: 240px;

  --primary: #1c63bf;
  --primary-light: #64a0ee;
  --primary-dark: #1856a6;
  --primary-darker: #10376a;
  --primary-hover: #15498e;
  --primary-active: rgb(63, 120, 194);

  --white-background:#f5f5f5f6;
  --Dark-black:black;
  --Light-Beige:#fdf6f1;

  --text-light: #ffffff;
  --text-muted: #cacaca;
  --text-dark: #222;
  --text-dark-muted: #434343;

  --shadow: 0 6px 12px #00000058;
  --shadoww: 0 6px 12px #000000e0;
  

  --toast-bg: #265a9e4d;
  --toast-shadow: -3px 8px 24px #265a9e83;

  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00000058;
  border-radius: 999px;
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1c63bfe6, #15498e);
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary-dark);
}